/*
全局变量, 可以在组件内样式使用
 */
.text-link[data-v-b993c376] {
  color: #409eff;
}
.text-link[data-v-b993c376]:hover {
  color: #5cb6ff;
}
.text-hover[data-v-b993c376]:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand[data-v-b993c376] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib[data-v-b993c376] {
  display: inline-block;
}
.di[data-v-b993c376] {
  display: inline;
}
.ellipsis[data-v-b993c376] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag[data-v-b993c376] {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag[data-v-b993c376] {
  margin-left: 5px;
}
.common-tag.green-tag[data-v-b993c376] {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag[data-v-b993c376] {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag[data-v-b993c376] {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag[data-v-b993c376] {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag[data-v-b993c376] {
  background-color: rgba(255, 153, 0, 0.2);
}
.tag-management-center .common-list .el-table .risk-source[data-v-b993c376] {
  background-color: rgba(51, 255, 0, 0.2);
}
.tag-management-center .common-list .el-table .risk-source + .risk-source[data-v-b993c376] {
  margin-left: 5px;
}

