/*
全局变量, 可以在组件内样式使用
 */
.text-link[data-v-c711dfce] {
  color: #409eff;
}
.text-link[data-v-c711dfce]:hover {
  color: #5cb6ff;
}
.text-hover[data-v-c711dfce]:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand[data-v-c711dfce] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib[data-v-c711dfce] {
  display: inline-block;
}
.di[data-v-c711dfce] {
  display: inline;
}
.ellipsis[data-v-c711dfce] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag[data-v-c711dfce] {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag[data-v-c711dfce] {
  margin-left: 5px;
}
.common-tag.green-tag[data-v-c711dfce] {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag[data-v-c711dfce] {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag[data-v-c711dfce] {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag[data-v-c711dfce] {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag[data-v-c711dfce] {
  background-color: rgba(255, 153, 0, 0.2);
}
.list-page[data-v-c711dfce] {
  background-color: transparent;
}
.list-page .common-list[data-v-c711dfce] {
  padding: 0;
  background-color: transparent;
}
.list-page .common-list .list-card .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .header[data-v-c711dfce] {
  margin-bottom: 5px;
}
.list-page .common-list .list-card .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .header .el-tag + .el-tag[data-v-c711dfce] {
  margin-left: 5px;
}
.list-page .common-list .list-card .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .content[data-v-c711dfce] {
  margin-bottom: 5px;
  color: #303133;
}
.list-page .common-list .list-card .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .relation[data-v-c711dfce] {
  margin-top: 5px;
  color: #909399;
}
.list-page .common-list .hot-search table[data-v-c711dfce] {
  width: 100%;
  table-layout: fixed;
}
.list-page .common-list .hot-search table tr[data-v-c711dfce] {
  line-height: 36px;
}
.list-page .common-list .hot-search table tr:nth-of-type(1) .index span[data-v-c711dfce] {
  background-color: #f54545;
}
.list-page .common-list .hot-search table tr:nth-of-type(2) .index span[data-v-c711dfce] {
  background-color: #ff8547;
}
.list-page .common-list .hot-search table tr:nth-of-type(3) .index span[data-v-c711dfce] {
  background-color: #ffac38;
}
.list-page .common-list .hot-search table tr .index[data-v-c711dfce] {
  line-height: 20px;
  font-size: 12px;
}
.list-page .common-list .hot-search table tr .index span[data-v-c711dfce] {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: white;
  border-radius: 3px;
  text-align: center;
  background-color: #8eb9f5;
}
.list-page .common-list .hot-search table tr .title span[data-v-c711dfce] {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.list-page .common-list .hot-search table tr .fire[data-v-c711dfce] {
  color: red;
}

/*
全局变量, 可以在组件内样式使用
 */
.text-link[data-v-51f68312] {
  color: #409eff;
}
.text-link[data-v-51f68312]:hover {
  color: #5cb6ff;
}
.text-hover[data-v-51f68312]:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand[data-v-51f68312] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib[data-v-51f68312] {
  display: inline-block;
}
.di[data-v-51f68312] {
  display: inline;
}
.ellipsis[data-v-51f68312] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag[data-v-51f68312] {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag[data-v-51f68312] {
  margin-left: 5px;
}
.common-tag.green-tag[data-v-51f68312] {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag[data-v-51f68312] {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag[data-v-51f68312] {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag[data-v-51f68312] {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag[data-v-51f68312] {
  background-color: rgba(255, 153, 0, 0.2);
}
.knowledge-graph .common-list .el-table .risk-source[data-v-51f68312] {
  background-color: rgba(51, 255, 0, 0.2);
}
.knowledge-graph .common-list .el-table .risk-source + .risk-source[data-v-51f68312] {
  margin-left: 5px;
}

/*
全局变量, 可以在组件内样式使用
 */
.text-link[data-v-50651972] {
  color: #409eff;
}
.text-link[data-v-50651972]:hover {
  color: #5cb6ff;
}
.text-hover[data-v-50651972]:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand[data-v-50651972] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib[data-v-50651972] {
  display: inline-block;
}
.di[data-v-50651972] {
  display: inline;
}
.ellipsis[data-v-50651972] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag[data-v-50651972] {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag[data-v-50651972] {
  margin-left: 5px;
}
.common-tag.green-tag[data-v-50651972] {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag[data-v-50651972] {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag[data-v-50651972] {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag[data-v-50651972] {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag[data-v-50651972] {
  background-color: rgba(255, 153, 0, 0.2);
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .header[data-v-50651972] {
  margin-bottom: 5px;
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .header .el-tag + .el-tag[data-v-50651972] {
  margin-left: 5px;
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .content[data-v-50651972] {
  margin-bottom: 5px;
  color: black;
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .relation[data-v-50651972] {
  margin-top: 5px;
  color: #5E5E5E;
}

/*
全局变量, 可以在组件内样式使用
 */
.text-link[data-v-e22e4fa2] {
  color: #409eff;
}
.text-link[data-v-e22e4fa2]:hover {
  color: #5cb6ff;
}
.text-hover[data-v-e22e4fa2]:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand[data-v-e22e4fa2] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib[data-v-e22e4fa2] {
  display: inline-block;
}
.di[data-v-e22e4fa2] {
  display: inline;
}
.ellipsis[data-v-e22e4fa2] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag[data-v-e22e4fa2] {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag[data-v-e22e4fa2] {
  margin-left: 5px;
}
.common-tag.green-tag[data-v-e22e4fa2] {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag[data-v-e22e4fa2] {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag[data-v-e22e4fa2] {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag[data-v-e22e4fa2] {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag[data-v-e22e4fa2] {
  background-color: rgba(255, 153, 0, 0.2);
}
.risk-list .common-list .el-table .risk-source[data-v-e22e4fa2] {
  background-color: rgba(51, 255, 0, 0.2);
}
.risk-list .common-list .el-table .risk-source + .risk-source[data-v-e22e4fa2] {
  margin-left: 5px;
}

/*
全局变量, 可以在组件内样式使用
 */
.text-link[data-v-4f886601] {
  color: #409eff;
}
.text-link[data-v-4f886601]:hover {
  color: #5cb6ff;
}
.text-hover[data-v-4f886601]:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand[data-v-4f886601] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib[data-v-4f886601] {
  display: inline-block;
}
.di[data-v-4f886601] {
  display: inline;
}
.ellipsis[data-v-4f886601] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag[data-v-4f886601] {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag[data-v-4f886601] {
  margin-left: 5px;
}
.common-tag.green-tag[data-v-4f886601] {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag[data-v-4f886601] {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag[data-v-4f886601] {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag[data-v-4f886601] {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag[data-v-4f886601] {
  background-color: rgba(255, 153, 0, 0.2);
}
.review-element .common-list .el-table .risk-source[data-v-4f886601] {
  background-color: rgba(51, 255, 0, 0.2);
}
.review-element .common-list .el-table .risk-source + .risk-source[data-v-4f886601] {
  margin-left: 5px;
}
.review-element .common-list .el-table .column-card-wrapper[data-v-4f886601] {
  text-align: center;
}
.review-element .common-list .el-table .column-card-wrapper + .column-card-wrapper[data-v-4f886601] {
  margin-top: 5px;
}

/*
全局变量, 可以在组件内样式使用
 */
.text-link[data-v-63f5d01e] {
  color: #409eff;
}
.text-link[data-v-63f5d01e]:hover {
  color: #5cb6ff;
}
.text-hover[data-v-63f5d01e]:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand[data-v-63f5d01e] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib[data-v-63f5d01e] {
  display: inline-block;
}
.di[data-v-63f5d01e] {
  display: inline;
}
.ellipsis[data-v-63f5d01e] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag[data-v-63f5d01e] {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag[data-v-63f5d01e] {
  margin-left: 5px;
}
.common-tag.green-tag[data-v-63f5d01e] {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag[data-v-63f5d01e] {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag[data-v-63f5d01e] {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag[data-v-63f5d01e] {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag[data-v-63f5d01e] {
  background-color: rgba(255, 153, 0, 0.2);
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .header[data-v-63f5d01e] {
  margin-bottom: 5px;
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .header .el-tag + .el-tag[data-v-63f5d01e] {
  margin-left: 5px;
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .content[data-v-63f5d01e] {
  margin-bottom: 5px;
  color: black;
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .relation[data-v-63f5d01e] {
  margin-top: 5px;
  color: #5E5E5E;
}

/*
全局变量, 可以在组件内样式使用
 */
.text-link[data-v-7d059800] {
  color: #409eff;
}
.text-link[data-v-7d059800]:hover {
  color: #5cb6ff;
}
.text-hover[data-v-7d059800]:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand[data-v-7d059800] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib[data-v-7d059800] {
  display: inline-block;
}
.di[data-v-7d059800] {
  display: inline;
}
.ellipsis[data-v-7d059800] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag[data-v-7d059800] {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag[data-v-7d059800] {
  margin-left: 5px;
}
.common-tag.green-tag[data-v-7d059800] {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag[data-v-7d059800] {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag[data-v-7d059800] {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag[data-v-7d059800] {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag[data-v-7d059800] {
  background-color: rgba(255, 153, 0, 0.2);
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .header[data-v-7d059800] {
  margin-bottom: 5px;
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .header .el-tag + .el-tag[data-v-7d059800] {
  margin-left: 5px;
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .content[data-v-7d059800] {
  margin-bottom: 5px;
  color: black;
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .relation[data-v-7d059800] {
  margin-top: 5px;
  color: #5E5E5E;
}

/*
全局变量, 可以在组件内样式使用
 */
.text-link[data-v-500b640e] {
  color: #409eff;
}
.text-link[data-v-500b640e]:hover {
  color: #5cb6ff;
}
.text-hover[data-v-500b640e]:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand[data-v-500b640e] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib[data-v-500b640e] {
  display: inline-block;
}
.di[data-v-500b640e] {
  display: inline;
}
.ellipsis[data-v-500b640e] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag[data-v-500b640e] {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag[data-v-500b640e] {
  margin-left: 5px;
}
.common-tag.green-tag[data-v-500b640e] {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag[data-v-500b640e] {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag[data-v-500b640e] {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag[data-v-500b640e] {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag[data-v-500b640e] {
  background-color: rgba(255, 153, 0, 0.2);
}
.knowledge-graph .common-list .el-table .risk-source[data-v-500b640e] {
  background-color: rgba(51, 255, 0, 0.2);
}
.knowledge-graph .common-list .el-table .risk-judgment-criteria[data-v-500b640e] {
  background-color: rgba(0, 204, 255, 0.2);
}
.knowledge-graph .common-list .el-table .risk-judgment-criteria + .risk-judgment-criteria[data-v-500b640e] {
  margin-top: 5px;
}
.knowledge-graph .common-list .el-table .operation-button.detail-button[data-v-500b640e] {
  background-color: #3cd54f;
}
.knowledge-graph .common-list .el-table .operation-button.knowledge-graph-button[data-v-500b640e] {
  background-color: #546784;
}

/*
全局变量, 可以在组件内样式使用
 */
.text-link[data-v-2b92def2] {
  color: #409eff;
}
.text-link[data-v-2b92def2]:hover {
  color: #5cb6ff;
}
.text-hover[data-v-2b92def2]:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand[data-v-2b92def2] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib[data-v-2b92def2] {
  display: inline-block;
}
.di[data-v-2b92def2] {
  display: inline;
}
.ellipsis[data-v-2b92def2] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag[data-v-2b92def2] {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag[data-v-2b92def2] {
  margin-left: 5px;
}
.common-tag.green-tag[data-v-2b92def2] {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag[data-v-2b92def2] {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag[data-v-2b92def2] {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag[data-v-2b92def2] {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag[data-v-2b92def2] {
  background-color: rgba(255, 153, 0, 0.2);
}

/*
全局变量, 可以在组件内样式使用
 */
.text-link[data-v-1e374f32] {
  color: #409eff;
}
.text-link[data-v-1e374f32]:hover {
  color: #5cb6ff;
}
.text-hover[data-v-1e374f32]:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand[data-v-1e374f32] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib[data-v-1e374f32] {
  display: inline-block;
}
.di[data-v-1e374f32] {
  display: inline;
}
.ellipsis[data-v-1e374f32] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag[data-v-1e374f32] {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag[data-v-1e374f32] {
  margin-left: 5px;
}
.common-tag.green-tag[data-v-1e374f32] {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag[data-v-1e374f32] {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag[data-v-1e374f32] {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag[data-v-1e374f32] {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag[data-v-1e374f32] {
  background-color: rgba(255, 153, 0, 0.2);
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .header[data-v-1e374f32] {
  margin-bottom: 5px;
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .header .el-tag + .el-tag[data-v-1e374f32] {
  margin-left: 5px;
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .content[data-v-1e374f32] {
  margin-bottom: 5px;
  color: black;
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .relation[data-v-1e374f32] {
  margin-top: 5px;
  color: #5E5E5E;
}

/*
全局变量, 可以在组件内样式使用
 */
.text-link[data-v-0a481bd2] {
  color: #409eff;
}
.text-link[data-v-0a481bd2]:hover {
  color: #5cb6ff;
}
.text-hover[data-v-0a481bd2]:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand[data-v-0a481bd2] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib[data-v-0a481bd2] {
  display: inline-block;
}
.di[data-v-0a481bd2] {
  display: inline;
}
.ellipsis[data-v-0a481bd2] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag[data-v-0a481bd2] {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag[data-v-0a481bd2] {
  margin-left: 5px;
}
.common-tag.green-tag[data-v-0a481bd2] {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag[data-v-0a481bd2] {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag[data-v-0a481bd2] {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag[data-v-0a481bd2] {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag[data-v-0a481bd2] {
  background-color: rgba(255, 153, 0, 0.2);
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .header[data-v-0a481bd2] {
  margin-bottom: 5px;
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .header .el-tag + .el-tag[data-v-0a481bd2] {
  margin-left: 5px;
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .content[data-v-0a481bd2] {
  margin-bottom: 5px;
  color: black;
}
.knowledge-graph .common-list .el-table .el-table__body-wrapper .el-table__body tbody .el-table__row .relation[data-v-0a481bd2] {
  margin-top: 5px;
  color: #5E5E5E;
}

/*
全局变量, 可以在组件内样式使用
 */
.text-link[data-v-4ba6c19f] {
  color: #409eff;
}
.text-link[data-v-4ba6c19f]:hover {
  color: #5cb6ff;
}
.text-hover[data-v-4ba6c19f]:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand[data-v-4ba6c19f] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib[data-v-4ba6c19f] {
  display: inline-block;
}
.di[data-v-4ba6c19f] {
  display: inline;
}
.ellipsis[data-v-4ba6c19f] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag[data-v-4ba6c19f] {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag[data-v-4ba6c19f] {
  margin-left: 5px;
}
.common-tag.green-tag[data-v-4ba6c19f] {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag[data-v-4ba6c19f] {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag[data-v-4ba6c19f] {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag[data-v-4ba6c19f] {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag[data-v-4ba6c19f] {
  background-color: rgba(255, 153, 0, 0.2);
}
.knowledge-query .form-card[data-v-4ba6c19f] {
  margin-bottom: 10px;
  color: #606266;
}
.knowledge-query .form-card .el-row .left .el-form div .el-form-item[data-v-4ba6c19f] .el-form-item__content > * {
  vertical-align: middle;
}
.knowledge-query .form-card .el-row .left .el-form div .keyword[data-v-4ba6c19f] {
  margin-right: 0;
  width: calc(100% - 292px);
}
.knowledge-query .form-card .el-row .left .el-form div .keyword[data-v-4ba6c19f] .el-form-item__content {
  width: 100%;
}
.knowledge-query .form-card .el-row .left .el-form div .keyword[data-v-4ba6c19f] .el-form-item__content .el-input {
  width: 100%;
}
.knowledge-query .form-card .el-row .left .el-form div .keyword[data-v-4ba6c19f] .el-form-item__content .el-input input {
  width: 100%;
}
.knowledge-query .form-card .el-row .left .el-form .type-list li[data-v-4ba6c19f] {
  display: inline-block;
  margin: 0 8px;
  line-height: 30px;
  border-bottom: 2px solid white;
  transition: border-bottom-color 300ms linear, color 300ms linear;
}
.knowledge-query .form-card .el-row .left .el-form .type-list li.active[data-v-4ba6c19f] {
  font-weight: bold;
  color: #409eff;
  border-bottom: 2px solid #409eff;
}
.knowledge-query .form-card .el-row .right[data-v-4ba6c19f] {
  font-family: '华文彩云 Bold', '华文彩云 Regular', '华文彩云', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #3170B4;
  text-align: center;
}
.knowledge-query .form-card .el-row .right img[data-v-4ba6c19f] {
  height: 40px;
}
.knowledge-query .form-card .el-row .right span[data-v-4ba6c19f]:last-of-type {
  color: #FF0000;
}
.knowledge-query .list-page[data-v-4ba6c19f] .left-panel-container {
  min-height: unset;
}
.knowledge-query .list-page[data-v-4ba6c19f] .left-panel-container .panel {
  height: unset!important;
  min-height: calc(100vh - (60px + 50px + 20px + 140px)) !important;
}

