
.pdfModal[data-v-4e852133] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
}
.pdfModal span[data-v-4e852133] {
    /* background: #fff; */
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    width: 30%;
    left: 42%;
    top: 55%;
}


