
.rel-div[data-v-fbc13732] {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
    height: 100vh;
    width: 100vw;
}
.fileCompare-button[data-v-fbc13732] {
    position: absolute;
    top: 0;
    width: 100%;
}
#WebOffice2015[data-v-fbc13732] {
    height: 100%;
    width: 100%;
}


