
iframe[data-v-96c79832] {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

@charset "utf-8";
/*
全局变量, 可以在组件内样式使用
 */
.text-link {
  color: #409eff;
}
.text-link:hover {
  color: #5cb6ff;
}
.text-hover:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib {
  display: inline-block;
}
.di {
  display: inline;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag {
  margin-left: 5px;
}
.common-tag.green-tag {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag {
  background-color: rgba(255, 153, 0, 0.2);
}
/*公用样式的设置和重置html默认样式*/
/* 复用参数设置 */
@font-face {
  font-family: self-font-family;
  src: url(/fonts/CANDARA.cece8e4a.TTF);
  /* IE9+ */
}
.sad-theme {
  filter: grayscale(100%);
}
html {
  font-size: 62.5%;
}
/* 重置样式 */
html,
body {
  font-family: 'Microsoft YaHei', 'Arial Normal', 'Arial';
  font-size: 14px;
  color: #333;
  height: 100%;
}
label,
html,
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
form,
button,
iframe,
input,
select,
textarea,
th,
td,
div,
dl,
dt,
dd,
figure,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
}
* {
  box-sizing: border-box;
}
textarea {
  -webkit-appearance: none;
  max-width: 100%;
  font-family: 'Microsoft YaHei', 'Arial Normal', 'Arial';
}
button {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button,
select,
input:focus {
  outline: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  color: #20A0FF;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a:hover {
  color: #2edfff;
}
a:focus {
  text-decoration: none;
}
img {
  border: none;
  height: auto;
  width: auto\9;
  vertical-align: middle;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
hr {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  padding: 0;
  margin: 0;
  border: 0;
}
hr.hr-vertical {
  width: 1px;
  height: 100%;
}
.x-scroll {
  overflow-x: auto;
  overflow-y: hidden;
}
.table-fixed {
  table-layout: fixed;
}
.table-fixed td {
  word-break: break-all;
}
.hand {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.width-parent {
  font-size: 0;
}
.width-parent > * {
  font-size: 14px;
}
.width-1-1 {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.width-1-2 {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.width-1-3 {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
}
.width-2-3 {
  width: 66.66%;
  display: inline-block;
  vertical-align: top;
}
.width-1-4 {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}
.width-1-6 {
  width: 16.66%;
  display: inline-block;
  vertical-align: top;
}
.half-width {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}
.one-third {
  width: 32.6%;
  display: inline-block;
  vertical-align: top;
}
.min-content {
  min-width: 1200px;
}
.rel-div {
  position: relative;
}
.abs-div {
  position: absolute;
}
.full {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.of {
  overflow: hidden;
}
.lf {
  float: left !important;
}
.rt {
  float: right !important;
}
.lf-text {
  text-align: left !important;
}
.ct-text {
  text-align: center !important;
}
.rt-text {
  text-align: right !important;
}
.hide-box {
  display: none;
  word-break: break-word;
}
.dib {
  display: inline-block;
}
.di {
  display: inline;
}
.ellipsis-columns {
  overflow: hidden;
  text-indent: 2em;
}
.ellipsis-columns:before {
  content: "";
  float: left;
  width: 5px;
}
.ellipsis-columns > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
  /*background:#aff;*/
}
.ellipsis-columns:after {
  content: "\02026";
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  float: right;
  position: relative;
  left: 98%;
  width: 3em;
  margin-left: -3em;
  padding-right: 5px;
  text-align: right;
}
.clear {
  clear: both;
}
@font-face {
  font-family: 'password';
  src: url(/fonts/PasswordEntry.8b15d0b9.ttf);
}
.new-password {
  font-family: 'password';
}
.clear-float:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear-margin-top:before {
  content: "";
  display: table;
}
.open-line-height:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
.el-form .el-form-item .el-form-item__label {
  font-weight: bolder;
}
.el-card {
  color: #606266;
}
/*
全局变量, 可以在组件内样式使用
 */
.text-link {
  color: #409eff;
}
.text-link:hover {
  color: #5cb6ff;
}
.text-hover:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib {
  display: inline-block;
}
.di {
  display: inline;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag {
  margin-left: 5px;
}
.common-tag.green-tag {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag {
  background-color: rgba(255, 153, 0, 0.2);
}
/* 私有样式 */
/* 登录页样式 */
.loginModule {
  /* 登录页面背景 */
}
.loginModule .back-login {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(/img/back_mr.031310bd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.loginModule .content-login {
  position: fixed;
  width: 100%;
  height: 100%;
}
.loginModule .content-login .form {
  position: absolute;
  width: 840px;
  height: 470px;
  z-index: 10;
  border-radius: 12px;
  left: 50%;
  margin-left: -400px;
  top: 50%;
  margin-top: -235px;
  background-color: rgba(227, 241, 255, 0.29);
}
.loginModule .content-login .form .xiaozhi {
  position: absolute;
  top: 45%;
  right: 97.6%;
}
.loginModule .content-login .form .sideCard {
  width: 465px;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: url(/img/left_mr.540aa9f1.jpg) no-repeat center center;
  background-size: 100% 100%;
  text-align: center;
  padding-top: 15%;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}
.loginModule .content-login .form .sideCard h2 {
  margin-top: 10%;
  font-size: 26px;
  color: #fff;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: normal;
}
.loginModule .content-login .form .sideCard img {
  width: 25%;
}
.loginModule .content-login .form form {
  clear: both;
  padding: 60px 50px;
  color: #acacac;
  height: 100%;
  margin-left: 465px;
}
.loginModule .content-login .form form .form-group {
  position: relative;
  margin-top: 30px;
  line-height: 34px;
}
.loginModule .content-login .form form .form-group input {
  height: 36px;
  font-size: 16px;
  background-color: #9cb6d1 !important;
  color: #fff;
  width: 100%;
  padding: 0 10px 0 104px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 4px;
}
.loginModule .content-login .form form .form-group input:-webkit-autofill,
.loginModule .content-login .form form .form-group textarea:-webkit-autofill,
.loginModule .content-login .form form .form-group select:-webkit-autofill {
  color: #fff !important;
  -webkit-box-shadow: 0 0 0 1000px #9cb6d1 inset;
  text-fill-color: white;
  -webkit-text-fill-color: white;
}
.loginModule .content-login .form form .form-group > span {
  color: #fff;
  position: absolute;
  font-size: 14px;
  top: 1px;
  left: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.loginModule .content-login .form form .form-group > i {
  color: #fff;
  position: absolute;
  top: 11px;
  left: 10px;
}
.loginModule .content-login .form form .form-group.code input {
  width: 50%;
  padding: 0 5px 0 16px;
}
.loginModule .content-login .form form .form-group.code input::-webkit-input-placeholder {
  font-size: 14px;
  font-family: '黑体', Arial, Helvetica, sans-serif;
}
.loginModule .content-login .form form .form-group.code input:-moz-placeholder {
  font-size: 14px;
  font-family: '黑体', Arial, Helvetica, sans-serif;
}
.loginModule .content-login .form form .form-group.code input:-ms-input-placeholder {
  font-size: 14px;
  font-family: '黑体', Arial, Helvetica, sans-serif;
}
.loginModule .content-login .form form .form-group.code img {
  width: 45%;
  height: 36px;
  vertical-align: top;
}
.loginModule .content-login .form h4 {
  text-align: center;
  color: #fff;
  font-size: 22px;
  line-height: 60px;
  margin: 0;
  font-weight: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.loginModule .content-login .form button {
  background-color: #3298fc;
  width: 100%;
  color: #fff;
  margin: 30px auto 5px;
  font-size: 16px;
  line-height: 44px;
  outline: none;
}
.loginModule .content-login .form .optionBtn {
  margin-top: 18px;
  text-align: center;
}
.loginModule .content-login .form .optionBtn > label {
  color: #fff;
  width: 50%;
  padding-left: 3px;
  line-height: normal;
  display: inline-block;
}
.loginModule .content-login .bottomLogin {
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
  color: #fff;
}
/* 首页样式 */
body {
  background-color: #f0f2f5;
  overflow: auto;
}
#app,
.home,
.home-box {
  height: 100%;
}
.home {
  position: relative;
  padding-top: 50px;
}
.home-box.scroll .home {
  min-width: 1600px;
}
#nprogress .bar {
  background-color: green;
  height: 4px;
  border-radius: 4px;
  z-index: 999999;
}
/* 工作台样式 */
.sys-vers {
  margin: 20px;
  border: 1px solid #F1F2F5;
}
.sys-vers .title {
  background-color: #F1F2F5;
  line-height: 40px;
  padding: 0 20px;
  font-size: 1.2em;
  font-weight: bolder;
}
.sys-vers .title p {
  width: 300px;
}
.sys-vers .cont {
  padding: 20px;
}
.sys-vers .cont p {
  padding: 5px;
  line-height: 24px;
}
.sys-vers .cont p img {
  margin-right: 4px;
}
/**
列表通用样式
 */
.list-page {
  background-color: white;
}
.list-page .left-panel-container {
  min-height: calc(100vh - (60px + 50px + 20px));
}
.list-page .left-panel-container .panel {
  min-height: calc(100vh - (60px + 50px + 20px)) !important;
  border-right: 1px solid #e4e4e4;
  margin-right: -1px;
}
.list-page .left-panel-container .panel .panel-content .side-form {
  padding: 15px;
}
.list-page .left-panel-container .panel .panel-content .side-form .side-form-tree .side-form-tree-filter {
  margin-bottom: 6px;
}
.list-page .left-panel-container .panel .panel-content .side-form .side-form-tree .side-form-tree-filter .el-input__suffix-inner {
  cursor: pointer;
}
.list-page .left-panel-container .panel .panel-content .side-form .el-form-item {
  margin-bottom: 0;
}
.list-page .left-panel-container .panel .panel-content .side-form .el-form-item .el-form-item__content .el-checkbox {
  width: 100%;
  line-height: 36px;
}
.list-page .left-panel-container .panel .panel-content .side-form .el-form-item .el-form-item__content .el-checkbox > * {
  vertical-align: middle;
}
.list-page .left-panel-container .panel .panel-content .side-form .el-form-item .el-form-item__content .el-checkbox .el-checkbox__label {
  display: inline!important;
}
.list-page .left-panel-container .panel .panel-content .side-form .el-form-item .el-form-item__content .el-radio {
  width: 100%;
  line-height: 36px;
}
.list-page .left-panel-container .panel .panel-content .side-form .el-form-item .el-form-item__content .el-radio > * {
  vertical-align: middle;
}
.list-page .left-panel-container .panel .panel-content .side-form .el-tree .el-tree-node .el-tree-node__content {
  height: 30px;
}
.list-page .left-panel-container .right-content {
  border-left: 1px solid #e4e4e4;
}
.list-page .common-list {
  background-color: white;
  padding: 20px 15px 15px 15px;
}
.list-page .common-list .el-form .el-row .el-col .el-form-item {
  width: 100%;
}
.list-page .common-list .el-form .el-row .el-col .el-form-item .el-form-item__content .el-date-editor {
  width: 100%;
}
.list-page .common-list .el-form .el-row .el-col:not(.button-group) .el-form-item .el-form-item__content {
  width: calc(100% - 110px);
}
.list-page .common-list .el-form .el-row .el-col.button-group {
  float: right;
}
.list-page .common-list .el-form .el-row .el-col.button-group .el-form-item .el-form-item__content {
  width: 100%;
  text-align: right;
}
.list-page .common-list .el-form .params-tag .el-tag + .el-tag {
  margin-left: 5px;
}
.list-page .common-list .el-table .el-table__header-wrapper .el-table__header thead {
  color: #606266;
}
.list-page .common-list .el-table .el-table__header-wrapper .el-table__header thead tr th {
  background-color: #eef4ff;
}
.list-page .common-list .el-table .el-table__fixed .el-table__fixed-header-wrapper .el-table__header thead {
  color: #606266;
}
.list-page .common-list .el-table .el-table__fixed .el-table__fixed-header-wrapper .el-table__header thead tr th {
  background-color: #eef4ff;
}
.list-page .common-list .el-table .el-table__fixed-right .el-table__fixed-header-wrapper .el-table__header thead {
  color: #606266;
}
.list-page .common-list .el-table .el-table__fixed-right .el-table__fixed-header-wrapper .el-table__header thead tr th {
  background-color: #eef4ff;
}
.list-page .common-list .el-table .column-card {
  line-height: 28px;
  display: inline-block;
  max-width: 100%;
  border-radius: 3px;
  padding: 0 5px;
  vertical-align: middle;
  background-color: rgba(51, 255, 0, 0.2);
  margin: 5px;
}
.list-page .common-list .el-table .operation-button {
  height: 25px;
  line-height: 25px;
  width: 25px;
  border-radius: 3px;
  text-align: center;
  color: white;
  display: inline-block;
  cursor: pointer;
}
.list-page .common-list .el-table .operation-button + .operation-button {
  margin-left: 5px;
}
.list-page .common-list .el-table .operation-button.detail-button {
  background-color: #3cd54f;
}
.list-page .common-list .el-table .operation-button.knowledge-graph-button {
  background-color: #546784;
}
.list-page .common-list .el-pagination {
  text-align: right;
  margin-top: 15px;
}
/**
明细页面
 */
.detail-page {
  color: #606266;
}
.detail-page > .el-row {
  margin-bottom: 10px;
}
.detail-page > .el-row.detail-header {
  overflow: hidden;
}
.detail-page > .el-row.detail-header .el-col.detail-header-left .el-card {
  min-height: 150px;
}
.detail-page > .el-row.detail-header .el-col.detail-header-left .el-card .detail-header-detail {
  font-size: 13px;
}
.detail-page > .el-row.detail-header .el-col.detail-header-left .el-card .detail-header-detail .detail-header-detail-item {
  display: inline-block;
  line-height: 35px;
  height: 35px;
}
.detail-page > .el-row.detail-header .el-col.detail-header-left .el-card .detail-header-detail .detail-header-detail-item .detail-header-detail-item-name {
  display: inline-block;
  color: #666666;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.detail-page > .el-row.detail-header .el-col.detail-header-left .el-card .detail-header-detail .detail-header-detail-item .detail-header-detail-item-value {
  display: inline-block;
  width: 150px;
  padding-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.detail-page > .el-row.detail-header .el-col.detail-header-left .el-card .tag-group {
  margin-top: 15px;
}
.detail-page > .el-row.detail-header .el-col.detail-header-left .el-card .tag-group .el-tag + .el-tag {
  margin-left: 10px;
}
.detail-page > .el-row.detail-header .el-col.detail-header-middle {
  position: absolute;
  left: 83.33333333%;
  top: 0;
  height: 100%;
}
.detail-page > .el-row.detail-header .el-col.detail-header-middle .el-card {
  height: 100%;
}
.detail-page > .el-row.detail-header .el-col.detail-header-middle .el-card .el-card__header {
  height: 50%;
  padding: 0;
}
.detail-page > .el-row.detail-header .el-col.detail-header-middle .el-card .el-card__header:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.detail-page > .el-row.detail-header .el-col.detail-header-middle .el-card .el-card__header .read-num {
  height: 60%;
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.detail-page > .el-row.detail-header .el-col.detail-header-middle .el-card .el-card__header .read-num .read-num-value {
  font-size: 18px;
}
.detail-page > .el-row.detail-header .el-col.detail-header-middle .el-card .el-card__header .read-num .read-num-name {
  width: 100%;
  color: #999999;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}
.detail-page > .el-row.detail-header .el-col.detail-header-middle .el-card .el-card__body {
  height: 50%;
  padding: 0;
}
.detail-page > .el-row.detail-header .el-col.detail-header-middle .el-card .el-card__body:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.detail-page > .el-row.detail-header .el-col.detail-header-middle .el-card .el-card__body .watch {
  text-align: center;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: auto 0;
}
.detail-page > .el-row.detail-header .el-col.detail-header-middle .el-card .el-card__body .watch i {
  margin-right: 5px;
  color: #f56c6c;
  font-size: 18px;
  vertical-align: middle;
}
.detail-page > .el-row.detail-header .el-col.detail-header-middle .el-card .el-card__body .watch span {
  vertical-align: middle;
}
.detail-page > .el-row.detail-header .el-col.detail-header-right {
  position: absolute;
  left: 95.83333333%;
  top: 0;
  height: 100%;
}
.detail-page > .el-row.detail-header .el-col.detail-header-right .el-card {
  height: 100%;
  min-height: 150px;
  background-color: #546784;
}
.detail-page > .el-row.detail-header .el-col.detail-header-right .el-card .el-card__body {
  height: 100%;
  padding: 0;
}
.detail-page > .el-row.detail-header .el-col.detail-header-right .el-card .el-card__body > div {
  height: 100%;
  text-align: center;
  width: 22px;
  margin: auto;
}
.detail-page > .el-row.detail-header .el-col.detail-header-right .el-card .el-card__body > div > span {
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  vertical-align: middle;
}
.detail-page > .el-row .el-card {
  color: #606266;
}
.detail-page > .el-row .el-card .el-card__header .header-with-icon {
  font-weight: bolder;
  line-height: 32px;
}
.detail-page > .el-row .el-card .el-card__header .header-with-icon:before {
  display: inline;
  content: '▍';
  color: #0099ff;
}
.detail-page > .el-row .el-card.card-with-title .el-card__header {
  border-bottom: none;
  color: #303133;
}
.detail-page > .el-row .el-card.card-with-title .el-card__body {
  padding-top: 0;
}
.detail-page .detail-list .el-card__header {
  padding: 0;
}
.detail-page .detail-list .el-card__header .tab-group .tab-panel {
  display: inline-block;
  width: 160px;
  line-height: 45px;
  height: 45px;
  text-align: center;
}
.detail-page .detail-list .el-card__header .tab-group .tab-panel:not(.tab-panel-active):hover {
  cursor: pointer;
  color: #409eff;
}
.detail-page .detail-list .el-card__header .tab-group .tab-panel-active {
  background-color: #1478f0;
  color: white;
  border-radius: 5px;
}
.detail-page .detail-list .el-table {
  color: black;
}
.detail-page .detail-list .el-table .operation-button {
  height: 25px;
  line-height: 25px;
  width: 25px;
  border-radius: 3px;
  text-align: center;
  color: white;
  display: inline-block;
  cursor: pointer;
}
.detail-page .detail-list .el-table .operation-button + .operation-button {
  margin-left: 5px;
}
.detail-page .detail-list .el-table .operation-button.detail-button {
  background-color: #3cd54f;
}
.detail-page .detail-list .el-table .operation-button.knowledge-graph-button {
  background-color: #546784;
}
.detail-page .detail-list .el-table .column-card {
  line-height: 28px;
  display: inline-block;
  max-width: 100%;
  border-radius: 3px;
  padding: 0 5px;
  background-color: rgba(51, 255, 0, 0.2);
}
.detail-page .detail-list .el-table.detail-list-table-type1 .el-table__body-wrapper .el-table__body tbody .el-table__row .header {
  margin-bottom: 5px;
}
.detail-page .detail-list .el-table.detail-list-table-type1 .el-table__body-wrapper .el-table__body tbody .el-table__row .header .el-tag + .el-tag {
  margin-left: 5px;
}
.detail-page .detail-list .el-table.detail-list-table-type1 .el-table__body-wrapper .el-table__body tbody .el-table__row .content {
  margin-bottom: 5px;
}
.detail-page .detail-list .el-table.detail-list-table-type1 .el-table__body-wrapper .el-table__body tbody .el-table__row .relation {
  margin-top: 5px;
  color: #909399;
}
.detail-page .detail-list .el-table.detail-list-table-type2 {
  margin-top: 10px;
}
.detail-page .detail-list .el-table.detail-list-table-type2 .el-table__header-wrapper .el-table__header thead {
  color: #606266;
}
.detail-page .detail-list .el-table.detail-list-table-type2 .el-table__header-wrapper .el-table__header thead tr th {
  background-color: #eef4ff;
}
.detail-page .detail-list .el-table.detail-list-table-type2 .el-table__fixed .el-table__fixed-header-wrapper .el-table__header thead {
  color: #606266;
}
.detail-page .detail-list .el-table.detail-list-table-type2 .el-table__fixed .el-table__fixed-header-wrapper .el-table__header thead tr th {
  background-color: #eef4ff;
}
.detail-page .detail-list .el-table.detail-list-table-type2 .el-table__fixed-right .el-table__fixed-header-wrapper .el-table__header thead {
  color: #606266;
}
.detail-page .detail-list .el-table.detail-list-table-type2 .el-table__fixed-right .el-table__fixed-header-wrapper .el-table__header thead tr th {
  background-color: #eef4ff;
}
.detail-page .error-correction {
  z-index: 5;
  cursor: pointer;
  font-size: 14px;
  width: 34px;
  text-align: center;
  padding: 10px 7px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  position: fixed;
  right: 20px;
  bottom: 140px;
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.12);
}
.form-page {
  color: #606266;
}
.form-page .form-title {
  text-align: center;
  font-size: 0;
  margin-bottom: 15px;
}
.form-page .form-title > * {
  vertical-align: middle;
}
.form-page .form-title .form-title-icon {
  display: inline-block;
  background-color: #409eff;
  color: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  vertical-align: middle;
  border-radius: 4px;
  margin-right: 10px;
}
.form-page .form-title span {
  font-size: 18px;
  font-weight: bolder;
}
.form-page .el-form .form-group {
  padding-bottom: 25px;
}
.form-page .el-form .form-group .form-group-title {
  font-size: 18px;
  font-weight: bolder;
  line-height: 32px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DCDFE6;
}
.form-page .el-form .form-group .form-group-title:before {
  display: inline;
  content: '▍';
  color: #0099ff;
  margin-right: 5px;
}
.form-page .el-form .form-group .form-group-content {
  padding: 0 10px;
}
.form-page .el-form .form-group .el-form-item {
  display: inline-block;
  width: 100%;
}
.form-page .el-form .form-group .el-form-item.half-width {
  width: 50%;
}
.form-page .el-form .form-group .el-form-item .el-form-item__content > * {
  vertical-align: middle;
}
.form-page .el-form .form-group .el-form-item .el-form-item__content .el-cascader,
.form-page .el-form .form-group .el-form-item .el-form-item__content .el-select {
  width: 100%;
}
.form-page .el-form .form-group .el-form-item .el-form-item__content .el-input .el-input__suffix .el-input__suffix-inner .el-input__icon {
  font-size: 14px;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  cursor: pointer;
}
.form-page .el-form .form-group .el-form-item .el-form-item__content .el-input .el-input__suffix .el-input__suffix-inner .el-input__icon:hover {
  color: #606266;
}
.form-page .el-form table.form-list {
  width: 100%;
  table-layout: fixed;
}
.form-page .el-form table.form-list tr {
  height: 42px;
}
.form-page .el-form table.form-list tr th {
  text-align: left;
  background-color: #eef4ff;
  padding: 0 10px;
}
.form-page .el-form table.form-list tr td {
  text-align: left;
  padding: 5px 10px;
  line-height: 23px;
}
.form-page .el-form table.form-list tbody tr {
  border-bottom: 0.5px solid #DCDFE6;
  transition: background-color 200ms linear;
}
.form-page .el-form table.form-list tbody tr:hover {
  background-color: #F5F7FA;
}
.form-page .el-form table.form-list .operation-button {
  height: 25px;
  line-height: 25px;
  width: 25px;
  border-radius: 3px;
  text-align: center;
  color: white;
  display: inline-block;
  cursor: pointer;
  background-color: #546784;
}
.form-page .el-form table.form-list .operation-button + .operation-button {
  margin-left: 5px;
}
.form-page .el-form table.form-list .operation-button.delete {
  background-color: #F56C6C;
}
.form-page .el-form .form-button-group {
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid #DCDFE6;
}
/* 插件css调整 */
.fa.fa-1-2 {
  font-size: 1.2em;
}
.fa.fa-1-3 {
  font-size: 1.3em;
}
.fa.fa-1-4 {
  font-size: 1.4em;
}
.el-pagination {
  white-space: unset;
}
.el-date-editor .el-range-separator {
  padding: 0;
}
.el-dialog__wrapper .show-table {
  table-layout: fixed;
}
.el-dialog__wrapper .show-table th,
.el-dialog__wrapper .show-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.el-dialog__wrapper .el-dialog .chartsLeftContent > div,
.el-dialog__wrapper .el-dialog .guideLeftContent > div {
  box-shadow: none;
}
.el-dialog__wrapper .el-dialog .el-dialog__header {
  background-color: #54A2ED;
  color: white;
  line-height: 44px;
  height: 44px;
  padding: 0 0 0 20px;
}
.el-dialog__wrapper .el-dialog .el-dialog__header .el-dialog__title {
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.el-dialog__wrapper .el-dialog .el-dialog__header .el-dialog__headerbtn {
  position: static!important;
  width: 40px;
  float: right;
}
.el-dialog__wrapper .el-dialog .el-dialog__header .el-dialog__headerbtn i {
  font-size: 23px!important;
  vertical-align: middle;
}
.el-dialog__wrapper .el-dialog .el-dialog__header .el-dialog__headerbtn:hover i {
  color: red;
  font-weight: bolder;
}
.el-dialog__wrapper .el-dialog .el-dialog__header .el-dialog__headerbtn i {
  font-size: 16px;
  color: white;
}
.el-scrollbar .el-scrollbar__bar.is-horizontal {
  height: 8px;
}
.el-scrollbar .el-scrollbar__bar.is-vertical {
  width: 8px;
}
.el-scrollbar > .el-scrollbar__wrap::-webkit-scrollbar {
  background-color: transparent;
}
.el-scrollbar.all-box {
  width: 100%;
  height: 100%;
}
.el-scrollbar.y-box {
  height: 100%;
}
.el-scrollbar.y-box > .el-scrollbar__wrap {
  overflow-x: hidden;
}
.el-scrollbar.y-box > .is-horizontal {
  display: none;
}
.el-scrollbar.x-box > .el-scrollbar__wrap {
  overflow-y: hidden;
  white-space: nowrap;
}
.el-select .el-input .el-select__caret {
  -ms-transition: transform 0.3s;
  -ms-transform: rotateZ(180deg);
}
.el-popover {
  min-width: 100px;
}
/*ie hack*/
.IE .animat {
  display: none;
}

/*
全局变量, 可以在组件内样式使用
 */
.text-link[data-v-0cbf03fa] {
  color: #409eff;
}
.text-link[data-v-0cbf03fa]:hover {
  color: #5cb6ff;
}
.text-hover[data-v-0cbf03fa]:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand[data-v-0cbf03fa] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib[data-v-0cbf03fa] {
  display: inline-block;
}
.di[data-v-0cbf03fa] {
  display: inline;
}
.ellipsis[data-v-0cbf03fa] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag[data-v-0cbf03fa] {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag[data-v-0cbf03fa] {
  margin-left: 5px;
}
.common-tag.green-tag[data-v-0cbf03fa] {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag[data-v-0cbf03fa] {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag[data-v-0cbf03fa] {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag[data-v-0cbf03fa] {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag[data-v-0cbf03fa] {
  background-color: rgba(255, 153, 0, 0.2);
}
.button-wrapper[data-v-0cbf03fa] {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -50px;
  background-color: white;
}
.button-wrapper .normal-button[data-v-0cbf03fa] {
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}
.button-wrapper .fix-button[data-v-0cbf03fa] {
  background-color: #484D5E;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}


.clear-margin-top[data-v-2b0a726b]:before {
    content: "";
    display: table;
}
.scrollbar-container[data-v-2b0a726b] {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.scrollbar-wrapper[data-v-2b0a726b] {
    height: 100%;
    /*overflow: auto;*/
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-wrapper[data-v-2b0a726b]::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}
.content-container[data-v-2b0a726b] {
    position: relative;
    display: inline-block;
    min-width: 100%;
}
.content-container-smooth[data-v-2b0a726b] {
    transition: left 200ms;
}
.vertical-scrollbar-track[data-v-2b0a726b] {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    /*display: none;*/
    z-index: 99;
}
.vertical-scrollbar-thumb[data-v-2b0a726b] {
    min-height: 30px;
    background-color: rgba(165, 211, 229, 0.3);
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 0;
}
.horizontal-scrollbar-track[data-v-2b0a726b] {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    /*display: none;*/
    z-index: 99;
}
.horizontal-scrollbar-thumb[data-v-2b0a726b] {
    min-width: 30px;
    background-color: rgba(165, 211, 229, 0.3);
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.horizontal-scrollbar-thumb-smooth[data-v-2b0a726b] {
    transition: left 200ms;
}
.scrollbar-container:hover .vertical-scrollbar-track[data-v-2b0a726b] {
    display: inline-block;
}
.scrollbar-container:hover .horizontal-scrollbar-track[data-v-2b0a726b] {
    display: inline-block;
}
.fade-enter[data-v-2b0a726b], .fade-leave-to[data-v-2b0a726b] {
    opacity: 0;
}
.fade-enter-active[data-v-2b0a726b], .fade-leave-active[data-v-2b0a726b] {
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
.fade-enter-to[data-v-2b0a726b] {
    opacity: 1;
}
.fade-leave[data-v-2b0a726b] {
    opacity: 1;
}



.prevent-select-text {
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}

/*
全局变量, 可以在组件内样式使用
 */
.text-link[data-v-14fb07aa] {
  color: #409eff;
}
.text-link[data-v-14fb07aa]:hover {
  color: #5cb6ff;
}
.text-hover[data-v-14fb07aa]:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand[data-v-14fb07aa] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib[data-v-14fb07aa] {
  display: inline-block;
}
.di[data-v-14fb07aa] {
  display: inline;
}
.ellipsis[data-v-14fb07aa] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag[data-v-14fb07aa] {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag[data-v-14fb07aa] {
  margin-left: 5px;
}
.common-tag.green-tag[data-v-14fb07aa] {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag[data-v-14fb07aa] {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag[data-v-14fb07aa] {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag[data-v-14fb07aa] {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag[data-v-14fb07aa] {
  background-color: rgba(255, 153, 0, 0.2);
}
.el-dialog__wrapper[data-v-14fb07aa] {
  overflow-x: hidden;
}
.el-dialog__wrapper[data-v-14fb07aa] .el-dialog .el-dialog__body .dialog-footer {
  text-align: right;
  margin-top: 15px;
  margin-bottom: 0;
}

/*
全局变量, 可以在组件内样式使用
 */
.text-link[data-v-5c7d57a2] {
  color: #409eff;
}
.text-link[data-v-5c7d57a2]:hover {
  color: #5cb6ff;
}
.text-hover[data-v-5c7d57a2]:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand[data-v-5c7d57a2] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib[data-v-5c7d57a2] {
  display: inline-block;
}
.di[data-v-5c7d57a2] {
  display: inline;
}
.ellipsis[data-v-5c7d57a2] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag[data-v-5c7d57a2] {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag[data-v-5c7d57a2] {
  margin-left: 5px;
}
.common-tag.green-tag[data-v-5c7d57a2] {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag[data-v-5c7d57a2] {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag[data-v-5c7d57a2] {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag[data-v-5c7d57a2] {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag[data-v-5c7d57a2] {
  background-color: rgba(255, 153, 0, 0.2);
}
.left-panel-container[data-v-5c7d57a2] {
  position: relative;
  overflow-y: hidden;
}
.left-panel-container > .panel[data-v-5c7d57a2] {
  display: inline-block;
  vertical-align: top;
  background-color: white;
  height: 100%;
  transition: width 300ms ease-in-out;
  position: relative;
}
.left-panel-container > .panel > .panel-content[data-v-5c7d57a2] {
  height: 100%;
  float: right;
}
.left-panel-container > .panel > .fold-button[data-v-5c7d57a2] {
  position: absolute;
  left: 100%;
  top: 200px;
  color: white;
  height: 50px;
  line-height: 50px;
  background-color: #008BF8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.left-panel-container > .panel > .fold-button > i[data-v-5c7d57a2] {
  font-weight: bolder;
}
.left-panel-container > .right-content[data-v-5c7d57a2] {
  display: inline-block;
  transition: width 300ms ease-in-out;
}

/*
全局变量, 可以在组件内样式使用
 */
.text-link[data-v-765fc01c] {
  color: #409eff;
}
.text-link[data-v-765fc01c]:hover {
  color: #5cb6ff;
}
.text-hover[data-v-765fc01c]:hover {
  cursor: pointer;
  color: #5cb6ff;
  transition: color 0.15s linear;
}
.hand[data-v-765fc01c] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dib[data-v-765fc01c] {
  display: inline-block;
}
.di[data-v-765fc01c] {
  display: inline;
}
.ellipsis[data-v-765fc01c] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-tag[data-v-765fc01c] {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 3px;
  background-color: rgba(0, 204, 255, 0.2);
  color: #606266;
}
.common-tag + .common-tag[data-v-765fc01c] {
  margin-left: 5px;
}
.common-tag.green-tag[data-v-765fc01c] {
  background-color: rgba(51, 255, 0, 0.2);
}
.common-tag.cyan-tag[data-v-765fc01c] {
  background-color: rgba(0, 204, 255, 0.2);
}
.common-tag.yellow-tag[data-v-765fc01c] {
  background-color: rgba(255, 255, 0, 0.2);
}
.common-tag.light-blue-tag[data-v-765fc01c] {
  background-color: rgba(51, 102, 255, 0.2);
}
.common-tag.brown-tag[data-v-765fc01c] {
  background-color: rgba(255, 153, 0, 0.2);
}
.modal-select[data-v-765fc01c] {
  display: inline-block;
  position: relative;
  width: 100%;
}
.modal-select .el-input[data-v-765fc01c] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
}
.modal-select .el-input[data-v-765fc01c] .el-input__inner {
  height: 100% !important;
}
.modal-select .tags[data-v-765fc01c] {
  position: relative;
  z-index: 2;
  text-align: left;
  box-sizing: border-box;
  font-size: 0;
  line-height: 1;
  padding: 0 0 5px 6px;
  display: inline-block;
  width: calc(100% - 64px);
  vertical-align: top;
}
.modal-select .tags > .el-tag[data-v-765fc01c] {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  margin: 6px 6px 0 0;
  text-overflow: ellipsis;
  background: #f0f2f5;
  border-color: transparent;
  line-height: 19px;
  height: 20px;
}
.modal-select .tags > .el-tag[data-v-765fc01c] .el-icon-close {
  background-color: #C0C4CC !important;
  color: white;
}
.modal-select .tags > .el-tag[data-v-765fc01c] .el-icon-close:hover {
  background-color: #909399 !important;
}
.modal-select .operation[data-v-765fc01c] {
  display: inline-block;
  width: 60px;
  z-index: 2;
  text-align: right;
  cursor: pointer;
  position: absolute;
  right: 2px;
  top: 0;
  height: 100%;
  font-size: 0;
}
.modal-select .operation .icon[data-v-765fc01c] {
  width: 30px;
  line-height: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
}
.modal-select .operation .icon.clear-icon[data-v-765fc01c] {
  display: none;
}
.modal-select .operation .icon:hover i[data-v-765fc01c] {
  color: #606266;
}
.modal-select .operation .icon i[data-v-765fc01c] {
  color: #C0C4CC;
}
.modal-select .operation:hover .clear-icon[data-v-765fc01c] {
  display: inline-block;
}

